html{
    font-size: 62.5%;
}
.app {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
    color: white;
}
h1{
    font-size: 3rem;  
}
.card{
    width: 50vw;
    height: 90vh;
    
}
.main-container{
    display: flex;
}
.first{
  
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}
.button{
    margin-top: 2rem;
}
.flag{
    max-width: 50rem;
    max-height: 30rem;
}
.counter{
    font-size: 50px;
    color: #0acd00;
}
.result{
    opacity: 0;
}
.result_v{
    font-size: 4rem;
}