header{
    background-color: #282c34;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100px;
}
h1{
    color: white;
    font-size: 3rem;  
    

}
.volume-button{
    position: absolute;
    top: 1rem;
    right: 2rem;
    height: 30px;
    justify-self: flex-end;
}